<app-sidebar-top></app-sidebar-top>

<app-midlebar></app-midlebar>

<div class="section wb">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="message-box">
                    <h4>História da BarberShop</h4>
                    <h2>10 Anos de Experiência no Mercado</h2>
                    <p class="lead">A BarberShop é uma barbearia versátil com bom custo benefício para
                        atender clientes que procuram cuidar do visual.</p>

                    <p> A BarberShop surgiu em 2009, pelos criadores Júnior Gonçalves e Leandro Silva, localizado na rua
                        Pomba,
                        nº 14, Padre Eustáquio. A barbearia conta com boa estrutura para nossos clientes, profissionais
                        capacitados,
                        que realizam os melhores cortes de cabelo, barba e entre outros serviços. </p>
                </div><!-- end messagebox -->
            </div><!-- end col -->
        </div><!-- end row -->

        <hr class="hr1">

        <div class="row">
            <div class="col-md-12">
                <div class="about-tab">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab">FUNDAÇÃO</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab_a">
                            <p> A BarberShop foi fundada em abril de 1989 por Leandro Reis em Belo 
                                Horizonte, MG. A barbearia de serviço completo de duas estações cresceu
                                e se tornou uma marca, fornecendo serviços de precisão (detalhes) e excepcional
                                atendimento ao cliente. </p>
                            <p> Os serviços incluem cortes de cabelo de todos os tipos, com idades entre 1 e além. 
                                De cortes de cabelo em tesoura de cavalheiros a desbotamentos modernos e modernos 
                                da pele, a serviços de barbear com ponta reta, a Master Barbers oferece sua experiência 
                                suprema. Também oferecemos uma variedade de produtos orgânicos e naturais para cabelo 
                                e barbear masculino. </p>
                            <p> O nome "BarberShop" é uma criação do próprio Leandro Reis inspirado nas barbearias americanas,
                                honrando seu tempo como mestre barbeiro em um spa de barbeiro anterior em Beverly Hills, Califórnia. 
                                Depois de dominar o comércio, Leandro trabalhou para abrir esta barbearia de bairro familiar a preços acessíveis.</p>
                            <p> Em fevereiro de 2018, expandiu sua presença para incluir a família "The Barber's", que cresceu com
                                5 barbeiros altamente qualificados.</p>
                        </div>
                        <div class="tab-pane fade" id="tab_b">
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                suffered alteration in some form, by injected humour, or randomised words which don't
                                look even slightly believable. If you are going to use a passage of Lorem Ipsum, you
                                need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                            <ul>
                                <li><i class="fa fa-circle-o" aria-hidden="true"></i>User Experince</li>
                                <li><i class="fa fa-circle-o" aria-hidden="true"></i>Full Devices</li>
                                <li><i class="fa fa-circle-o" aria-hidden="true"></i>Awesome Design</li>
                                <li><i class="fa fa-circle-o" aria-hidden="true"></i>Visual Impact</li>
                                <li><i class="fa fa-circle-o" aria-hidden="true"></i>100% Sincronized</li>
                                <li><i class="fa fa-circle-o" aria-hidden="true"></i>Custom Support</li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="tab_c">
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                suffered alteration in some form, by injected humour, or randomised words which don't
                                look even slightly believable. If you are going to use a passage of Lorem Ipsum, you
                                need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                        </div>
                    </div><!-- tab content -->
                </div>
            </div><!-- end col -->
        </div><!-- end row -->

        <hr class="hr1">

        <div class="row text-center">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-widget">
                    <div class="post-media wow fadeIn">
                        <a href="assets/uploads/barber_01.jpg" data-rel="prettyPhoto[gal]"
                            class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                        <img src="assets/uploads/barber_01.jpg" alt="" class="img-responsive img-rounded">
                    </div>
                    <h3>Mostre-nos seu estilo preferido</h3>
                    <p>A BarberShop contém várias opções de ambos tipos, visual de acordo com o gosto do cliente.</p>
                </div><!-- end service -->
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-widget">
                    <div class="post-media wow fadeIn">
                        <a href="assets/uploads/barber_02.jpg" data-rel="prettyPhoto[gal]"
                            class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                        <img src="assets/uploads/barber_02.jpg" alt="" class="img-responsive img-rounded">
                    </div>
                    <h3>Melhores Barbeiros</h3>
                    <p>Contamos com os melhores barbeiros da região, ambos com vasta experência de mercado e perfeição
                        na execução
                        dos serviços. </p>
                </div><!-- end service -->
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-widget">
                    <div class="post-media wow fadeIn">
                        <a href="assets/uploads/barber_03.jpg" data-rel="prettyPhoto[gal]"
                            class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                        <img src="assets/uploads/barber_03.jpg" alt="" class="img-responsive img-rounded">
                    </div>
                    <h3>Os Materiais da Barbearia</h3>
                    <p>São utilizados os melhores produtos para cabelos e barbas do mercado, exigimos que o cliente
                        tenha o melhor
                        tratamento possível e utilize produtos de qualidade.
                    </p>
                </div><!-- end service -->
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->

<div id="testimonials" class="parallax section db parallax-off"
    style="background-image:url('assets/uploads/parallax_20.jpg');">
    <div class="container-fluid">
        <div class="section-title row text-center">
            <div class="col-md-8 col-md-offset-2">
                <small>CONHEÇA NOSSO ATENDIMENTO</small>
                <h3>ATENDIMENTO AOS CLIENTES</h3>
                <hr class="grd1">
                <p class="lead">Telefone: (31) 3466-6788<br>
                    Celular: (31) 98755-8261.<br>
                    Email: Barbershop.bh@outlook.com<br>
                    Rua Pomba Branca, 445, Padre Eustáquio, MG</p>
                <br><br>
                <a [routerLink]="['/contact']" data-scroll class="btn btn-light btn-radius btn-brd grd1 effect-1">Mande uma mensagem</a>
            </div>
        </div><!-- end title -->
    </div><!-- end container -->
</div><!-- end section -->