<!-- Sidebar-wrapper -->
<div id="sidebar-wrapper">
    <div class="side-top">
        <div class="logo-sidebar">
            <a [routerLink]="['']"><img src="assets/images/logos/logo.png" alt="image"></a>
        </div>
        <ul class="sidebar-nav">
            <li><a [routerLink]="['/login']">Login</a></li>
            <li><a [routerLink]="['/about']">About Us</a></li>
            <li><a [routerLink]="['/services']">Our Services</a></li>
            <li><a [routerLink]="['/barbers']">Our Barbers</a></li>
            <li><a [routerLink]="['/appointment']">Appointment</a></li>
            <li><a [routerLink]="['/contact']">Contact</a></li>
        </ul>
    </div>
</div>
<!-- End Sidebar-wrapper -->