<!-- Sidebar-wrapper -->
<div id="sidebar-wrapper">
    <div>
        <div class="logo-sidebar">
            <a [routerLink]="['']"><img src="assets/images/logos/logo.png" alt="image"></a>
        </div>
        <ul class="sidebar-nav">
            <li><a [routerLink]="['']" *ngIf="permission.home">Home</a></li>
            <li><a [routerLink]="['/login']" *ngIf="permission.login">Login</a></li>
            <li><a [routerLink]="['/about']" *ngIf="permission.about">Sobre Nós</a></li>
            <li><a [routerLink]="['/services']" *ngIf="permission.service">Nossos Serviços</a></li>
            <li><a [routerLink]="['/barbers']" *ngIf="permission.barber">The Barber's</a></li>
            <li><a [routerLink]="['/appointment']" *ngIf="permission.appointment">Horários</a></li>
            <li><a [routerLink]="['/contact']" *ngIf="permission.contact">Contato</a></li>
            <li><a [routerLink]="['/account']" *ngIf="permission.account">Minha Conta</a></li>
            <li><a [routerLink]="['/register']" *ngIf="permission.register">Cadastre-se</a></li>
            <li><a [routerLink]="['/dashboard']" *ngIf="permission.dashboard">Dashboard</a></li>
            <li><a (click)="logout()" *ngIf="permission.logout">Logout</a></li>
        </ul>
    </div>
</div>
<!-- End Sidebar-wrapper -->