<app-sidebar-top></app-sidebar-top>

<app-midlebar></app-midlebar>

<div class="section wb">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="message-box">
                    <h4>Home</h4>
                    <h2>Bem-Vindo a BarberShop</h2>
                    <p class="lead">A BarberShop é uma barbearia versátil com bom custo benefício para
                        atender clientes que procuram cuidar do visual.</p>

                    <p> A BarberShop surgiu em 1989, pelos criadores Leandro Reis e ajuda de Gustavo Oliveira, e
                        Allan Felipe, localizado na rua Pomba Branca,
                        nº 445, Padre Eustáquio. A barbearia conta com boa estrutura para nossos clientes, profissionais
                        capacitados,
                        que realizam os melhores cortes de cabelo, barba e entre outros serviços. </p>

                    <a [routerLink]="['/about']" data-scroll
                        class="btn btn-light btn-radius btn-brd grd1 effect-1">Saiba mais</a>
                </div><!-- end messagebox -->
            </div><!-- end col -->
        </div><!-- end row -->

        <hr class="hr1">

        <div class="row">
            <div class="col-md-12">
                <div class="about-tab">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_a" data-toggle="tab">NOSSA MISSÃO E COMPROMETIMENTO COM NOSSOS
                                CLIENTES</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab_a">
                            <p>Atendemos os nossos clientes sempre com o máximo de comodidade, profissionalismo e
                                descontração, com o intuito
                                de deixar nosso ambiente profissional cada dia mais intuitivo possível, além de deixar
                                nossos clientes
                                satisfeitos com seu visual, atendendo a diversos pedidos e estilos variados.</p>
                            <p>Estes são alguns dos nossos termos de usabilidade e confiabilidade na BarberShop temos
                                como prioridade: </p>
                            <ul>
                                <li><i class="fa fa-circle-o" aria-hidden="true"></i>Design Afiado</li>
                                <li><i class="fa fa-circle-o" aria-hidden="true"></i>Estilos Variados</li>
                                <li><i class="fa fa-circle-o" aria-hidden="true"></i>100% de Confiabilidade</li>
                                <li><i class="fa fa-circle-o" aria-hidden="true"></i>Ambiente de Descontração</li>
                                <li><i class="fa fa-circle-o" aria-hidden="true"></i>Preços Acessíveis</li>
                                <li><i class="fa fa-circle-o" aria-hidden="true"></i>Humildade</li>
                                <li><i class="fa fa-circle-o" aria-hidden="true"></i>Modernidade</li>
                                <li><i class="fa fa-circle-o" aria-hidden="true"></i>Profissionais Qualificados</li>
                            </ul>
                        </div>
                    </div><!-- tab content -->
                </div>
            </div><!-- end col -->
        </div><!-- end row -->

        <hr class="hr1">

        <div class="row text-center">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-widget">
                    <div class="post-media wow fadeIn">
                        <a href="assets/uploads/barber_01.jpg" data-rel="prettyPhoto[gal]"
                            class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                        <img src="assets/uploads/barber_01.jpg" alt="" class="img-responsive img-rounded">
                    </div>
                    <h3>Mostre-nos seu estilo preferido</h3>
                    <p>A BarberShop contém várias opções de ambos tipos, visual de acordo com o gosto do cliente.</p>
                </div><!-- end service -->
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-widget">
                    <div class="post-media wow fadeIn">
                        <a href="assets/uploads/barber_02.jpg" data-rel="prettyPhoto[gal]"
                            class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                        <img src="assets/uploads/barber_02.jpg" alt="" class="img-responsive img-rounded">
                    </div>
                    <h3>Melhores Barbeiros</h3>
                    <p>Contamos com os melhores barbeiros da região, ambos com vasta experência de mercado e perfeição
                        na execução
                        dos serviços.</p>
                </div><!-- end service -->
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-widget">
                    <div class="post-media wow fadeIn">
                        <a href="assets/uploads/barber_03.jpg" data-rel="prettyPhoto[gal]"
                            class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                        <img src="assets/uploads/barber_03.jpg" alt="" class="img-responsive img-rounded">
                    </div>
                    <h3>Os Materiais da Barbearia</h3>
                    <p>São utilizados os melhores produtos para cabelos e barbas do mercado, exigimos que o cliente
                        tenha o melhor
                        tratamento possível e utilize produtos de qualidade.</p>
                </div><!-- end service -->
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->

<div id="barbers" class="section lb">
    <div class="container-fluid">
        <div class="section-title row text-center">
            <div class="col-md-8 col-md-offset-2">
                <small>Conheça a Nossa Equipe da BarberShop</small>
                <h3>The Barber's</h3>
                <hr class="grd1">
                <p class="lead">A equipe "The Barber's" são os principais membros da BarberShop, são eles que
                    fazem a mágica acontecer, responsáveis por garantir o visual formidável de nossos clientes.
                    Venha fazer parte desta equipe.</p>
            </div>
        </div><!-- end title -->

        <div class="row dev-list text-center">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                <div class="widget clearfix">
                    <div class="hover-br">
                        <img src="assets/uploads/barber_team_01.jpg" alt="" class="img-responsive">
                        <div class="social-up-hover">
                            <div class="footer-social">
                                <a href="#" class="btn grd1"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="btn grd1"><i class="fa fa-github"></i></a>
                                <a href="#" class="btn grd1"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="btn grd1"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="widget-title">
                        <h3>Leandro Reis</h3>
                        <small>Fundador</small>
                    </div>
                    <!-- end title -->
                    <p>Olá pessoal, eu sou Leandro Reis. Sou diretor de arte sênior e fundador da BarberShop.</p>
                </div>
                <!--widget -->
            </div><!-- end col -->

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                <div class="widget clearfix">
                    <div class="hover-br">
                        <img src="assets/uploads/barber_team_03.jpg" alt="" class="img-responsive">
                        <div class="social-up-hover">
                            <div class="footer-social">
                                <a href="#" class="btn grd1"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="btn grd1"><i class="fa fa-github"></i></a>
                                <a href="#" class="btn grd1"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="btn grd1"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="widget-title">
                        <h3>Gustavo Oliveira</h3>
                        <small>Barbeiro</small>
                    </div>
                    <!-- end title -->
                    <p>Olá pessoal, eu sou Gustavo Oliveira. Sou diretor de arte sênior e barbeiro da BarberShop.</p>
                </div>
                <!--widget -->
            </div><!-- end col -->

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
                <div class="widget clearfix">
                    <div class="hover-br">
                        <img src="assets/uploads/barber_team_02.jpg" alt="" class="img-responsive">
                        <div class="social-up-hover">
                            <div class="footer-social">
                                <a href="#" class="btn grd1"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="btn grd1"><i class="fa fa-github"></i></a>
                                <a href="#" class="btn grd1"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="btn grd1"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="widget-title">
                        <h3>Alan Felipe</h3>
                        <small>Barbeiro</small>
                    </div>
                    <!-- end title -->
                    <p>Olá pessoal, eu sou Alan Felipe. Sou diretor de arte e barbeiro do site da barbearia.</p>
                </div>
                <!--widget -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->

<div id="testimonials" class="parallax section db parallax-off"
    style="background-image:url('assets/uploads/parallax_20.jpg');">
    <div class="container-fluid">
        <div class="section-title row text-center">
            <div class="col-md-8 col-md-offset-2">
                <small>CONHEÇA NOSSO ATENDIMENTO</small>
                <h3>ATENDIMENTO AOS CLIENTES</h3>
                <hr class="grd1">
                <p class="lead">Telefone: (31) 3466-6788<br>
                    Celular: (31) 98755-8261.<br>
                    Email: Barbershop.bh@outlook.com<br>
                    Rua Pomba Branca, 445, Padre Eustáquio, MG</p>
                <br><br>
                <a [routerLink]="['/contact']" data-scroll class="btn btn-light btn-radius btn-brd grd1 effect-1">Mande
                    uma mensagem</a>
            </div>
        </div><!-- end title -->
    </div><!-- end container -->
</div><!-- end section -->