<app-sidebar-top></app-sidebar-top>

<div class="col-lg-12">
    <div class="col-lg-12" style="padding-top: 10px;">
            <h1>Relatórios</h1><br>
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                <div class="inner">
                    <h3>150</h3>

                    <p>Horários Agendados</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer">Mais Informações <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                <div class="inner">
                    <h3>93<sup style="font-size: 20px">%</sup></h3>

                    <p>Satisfação dos Clientes</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer">Mais Informações <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                <div class="inner">
                    <h3>44</h3>

                    <p>Clientes Cadastrados</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a href="#" class="small-box-footer">Mais Informações <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                <div class="inner">
                    <h3>65</h3>

                    <p>Serviços Semanais</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer">Mais Informações <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>
    </div>
    <div class="col-lg-8" style="float: left;">
        <div class="card">
            <div class="card-header border-transparent">
                <h3 class="card-title">Próximos Clientes</h3>

                <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
                <div class="table-responsive">
                <table class="table m-0">
                    <thead>
                    <tr>
                    <th>Ordem</th>
                    <th>Serviço</th>
                    <th>Barbeiro</th>
                    <th>Horário</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                    <td><a href="pages/examples/invoice.html">1</a></td>
                    <td>João Felipe</td>
                    <td><span class="badge badge-success">Lucas Daniel</span></td>
                    <td>
                        <div class="sparkbar" data-color="#00a65a" data-height="20">11:00 AM</div>
                    </td>
                    </tr>
                    <tr>
                    <td><a href="pages/examples/invoice.html">2</a></td>
                    <td>Bruninho</td>
                    <td><span class="badge badge-warning">Wendel</span></td>
                    <td>
                        <div class="sparkbar" data-color="#f39c12" data-height="20">09:00 AM</div>
                    </td>
                    </tr>
                    <tr>
                    <td><a href="pages/examples/invoice.html">3</a></td>
                    <td>Júnior</td>
                    <td><span class="badge badge-danger">Pedro</span></td>
                    <td>
                        <div class="sparkbar" data-color="#f56954" data-height="20">03:00 PM</div>
                    </td>
                    </tr>
                    <tr>
                    <td><a href="pages/examples/invoice.html">4</a></td>
                    <td>Danilo</td>
                    <td><span class="badge badge-info">Rafael</span></td>
                    <td>
                        <div class="sparkbar" data-color="#00c0ef" data-height="20">05:00 PM</div>
                    </td>
                    </tr>
                    <tr>
                    <td><a href="pages/examples/invoice.html">5</a></td>
                    <td>Victor Augusto</td>
                    <td><span class="badge badge-warning">Rafael</span></td>
                    <td>
                        <div class="sparkbar" data-color="#f39c12" data-height="20">06:30 PM</div>
                    </td>
                    </tr>
                    <tr>
                    <td><a href="pages/examples/invoice.html">6</a></td>
                    <td>Rubens Reis</td>
                    <td><span class="badge badge-danger">Lucas Daniel</span></td>
                    <td>
                        <div class="sparkbar" data-color="#f56954" data-height="20">06:30 PM</div>
                    </td>
                    </tr>
                    <tr>
                    <td><a href="pages/examples/invoice.html">7</a></td>
                    <td>Júlia</td>
                    <td><span class="badge badge-success">Romero</span></td>
                    <td>
                        <div class="sparkbar" data-color="#00a65a" data-height="20">06:30 PM</div>
                    </td>
                    </tr>
                    </tbody>
                </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
                <a href="javascript:void(0)" class="btn btn-sm btn-info float-left">Place New Order</a>
                <a href="javascript:void(0)" class="btn btn-sm btn-secondary float-right">View All Orders</a>
            </div>
            <!-- /.card-footer -->
        </div>
    </div>
    <div class="col-lg-4" style="float: right;">
        <div class="card">
            <div class="card-header border-0">
                <h3 class="card-title">Online Store Overview</h3>
                <div class="card-tools">
                <a href="#" class="btn btn-sm btn-tool">
                    <i class="fas fa-download"></i>
                </a>
                <a href="#" class="btn btn-sm btn-tool">
                    <i class="fas fa-bars"></i>
                </a>
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
                <p class="text-success text-xl">
                    <i class="ion ion-ios-refresh-empty"></i>
                </p>
                <p class="d-flex flex-column text-right">
                    <span class="font-weight-bold">
                    <i class="ion ion-android-arrow-up text-success"></i> 12%
                    </span>
                    <span class="text-muted">CONVERSION RATE</span>
                </p>
                </div>
                <!-- /.d-flex -->
                <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
                <p class="text-warning text-xl">
                    <i class="ion ion-ios-cart-outline"></i>
                </p>
                <p class="d-flex flex-column text-right">
                    <span class="font-weight-bold">
                    <i class="ion ion-android-arrow-up text-warning"></i> 0.8%
                    </span>
                    <span class="text-muted">SALES RATE</span>
                </p>
                </div>
                <!-- /.d-flex -->
                <div class="d-flex justify-content-between align-items-center mb-0">
                <p class="text-danger text-xl">
                    <i class="ion ion-ios-people-outline"></i>
                </p>
                <p class="d-flex flex-column text-right">
                    <span class="font-weight-bold">
                    <i class="ion ion-android-arrow-down text-danger"></i> 1%
                    </span>
                    <span class="text-muted">REGISTRATION RATE</span>
                </p>
                </div>
                <!-- /.d-flex -->
            </div>
        </div>
    </div>
</div>